<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>Customers</title>
    <link th:include="/import/style.html">
    <link th:include="/import/tableStyle.html">
</head>
<body>

<link th:include="/import/header.html">
<br/>

<div sec:authorize="hasAnyRole('ADMIN', 'MANAGER')">
    <a th:href="@{/customer/new}">
        <button class="btn success">Add new customer</button>
    </a>
</div>


<br/>
<br/>

<div style="overflow-x:auto;">
    <table>
        <thead>
        <tr>
            <th>id</th>
            <th>Name</th>
            <th>Surname</th>
            <th>Phone</th>
            <th>Email</th>
        </tr>
        </thead>

        <tbody>
        <tr th:if="${customers.isEmpty()}">
            <td colspan="2"> No customers yet </td>
        </tr>
        <tr th:each="customer : ${customers}">
            <td><span th:text="${customer.getId()}"> Id </span></td>
            <td><a th:href="@{/customer/{id}(id=${customer.getId()})}">
                <span  th:text="${customer.getName()}"> Name </span>
            </a></td>
            <td><span th:text="${customer.getSurname()}"> Surname </span></td>
            <td><span th:text="${customer.getPhone()}"> Phone </span></td>
            <td><span th:text="${customer.getEmail()}"> Email </span></td>
        </tr>
        </tbody>
    </table>
</div>

</body>
</html>



