<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>Edit customer</title>
    <link th:include="/import/style.html">
    <link th:include="/import/formStyle.html">
</head>
<body>

<link th:include="/import/header.html">


<div class="container" sec:authorize="hasAnyRole('ADMIN', 'MANAGER')">
    <form th:method="PATCH" th:action="@{/customer/profile/{id}(id=${customer.getId()})}">
        <link th:include="/import/customerEditForm.html">
    </form>
</div>

<div class="container" sec:authorize="hasRole('CUSTOMER')">
    <form th:method="PATCH" th:action="@{/customer/profile/update}">
            <link th:include="/import/customerEditForm.html">
    </form>
</div>



<script>
    function check() {
        var pass = document.getElementById('password');
        var rPass = document.getElementById('confirm_password');
        var message = document.getElementById('message');

        if (pass.value == rPass.value) {
            message.style.color = 'green';
            message.innerHTML = 'matching';
            document.getElementById('submit').disabled = false;
        } else {
            message.style.color = 'red';
            message.innerHTML = 'Passwords not matched';
            document.getElementById('submit').disabled = true;
        }
    }

    function changePass() {
        var passChangeForm = document.getElementById('pass_change_form');
        var passInput = document.getElementById('password');

        passInput.attributes['type'].value = 'password';
        passInput.value = '';
        passChangeForm.hidden = false;
    }
</script>

</body>
</html>