<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>Customer profile</title>
    <link th:include="/import/style.html">
</head>
<body>

<link th:include="/import/header.html">
<br/>
<div th:if="${customer == null}">Customer does not exist.</div>

<div style="margin-left:20px;" th:unless="${customer == null}">
    <h3>Customer info:</h3>

    <p th:text="'Name: ' + ${customer.getName()}"></p>
    <p th:text="'Surname: ' + ${customer.getSurname()}"></p>
    <p th:text="'Gender: ' + ${customer.getGender()}"></p>
    <p th:text="'Phone number: ' + ${customer.getPhone()}"></p>
    <p th:text="'Email: ' + ${customer.getEmail()}"></p>

    <h4>Delivery address:</h4>

    <div>
        <div th:if="${customer.getDeliveryAddress() == null}">
            <p>No address yet</p>
        </div>

        <div th:unless="${customer.getDeliveryAddress() == null}">
            <p th:text="'Country: ' + ${customer.getDeliveryAddress().getCountry()}"></p>
            <p th:text="'City: ' + ${customer.getDeliveryAddress().getCity()}"></p>
            <p th:text="'Street: ' + ${customer.getDeliveryAddress().getStreet()}"></p>
            <p th:text="'House number: ' + ${customer.getDeliveryAddress().getHouseNumber()}"></p>
            <p th:text="'Note: ' + ${customer.getDeliveryAddress().getNote()}"></p>
        </div>
    </div>
    <br/>

    <div name="edit_btn">
        <div sec:authorize="hasAnyRole('ADMIN', 'MANAGER')">
            <a th:href="@{{id}/edit(id=${customer.getId()})}">
                <button class="btn warning">Edit customer</button>
            </a>
        </div>
        <div sec:authorize="hasRole('CUSTOMER')">
            <a th:href="@{profile/edit}">
                <button class="btn warning">Edit customer</button>
            </a>
        </div>
    </div>
    <br/>
    <div name="delete_btn">
        <div sec:authorize="hasAnyRole('ADMIN', 'MANAGER')">
            <form th:method="DELETE" th:action="@{profile/{id}(id=${customer.getId()})}"
                  onclick="return confirm('Are you sure, you wanted to delete this profile?')">
                <button class="btn danger" >Delete customer</button>
            </form>
        </div>
        <div sec:authorize="hasRole('CUSTOMER')">
            <form th:method="DELETE" th:action="@{profile/delete}"
                  onclick="return confirm('Are you sure, you wanted to delete this profile?')">
                <button class="btn danger" >Delete customer</button>
            </form>
        </div>
    </div>


    <br/>
</div>


</body>
</html>