<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Edit book</title>
    <link th:include="/import/style.html">
</head>
<body>

<link th:include="/import/header.html">

<form th:method="PATCH" th:action="@{/books/{id}(id=${book.getId()})}" th:object="${book}">
    <label for="name">Enter new name: </label>
    <input type="text" th:field="*{name}" id="name"/>
    <div style="color: red" th:if="${#fields.hasErrors('name')}" th:errors="*{name}">Name error</div>
    <br/>
    <label for="author">Enter new author: </label>
    <input type="text" th:field="*{author}" id="author"/>
    <div style="color: red" th:if="${#fields.hasErrors('author')}" th:errors="*{author}">Author error</div>
    <br/>
    <label for="genre">Enter new genre: </label>
    <input type="text" th:field="*{genre}" id="genre"/>
    <div style="color: red" th:if="${#fields.hasErrors('genre')}" th:errors="*{genre}">Genre error</div>
    <br/>
    <label for="description">Enter new description: </label>
    <input type="text" th:field="*{description}" id="description"/>
    <div style="color: red" th:if="${#fields.hasErrors('description')}" th:errors="*{description}">Genre error</div>
    <br/>
    <label for="availableQuantity">Enter new available quantity: </label>
    <input type="number" th:field="*{availableQuantity}" id="availableQuantity"/>
    <div style="color: red" th:if="${#fields.hasErrors('availableQuantity')}" th:errors="*{availableQuantity}">Genre error</div>
    <br/>
    <label for="price">Enter new price: </label>
    <input type="number" th:field="*{price}" id="price"/>
    <div style="color: red" th:if="${#fields.hasErrors('price')}" th:errors="*{price}">Genre error</div>
    <br/>
    <input type="submit" value="Update">
</form>

</body>
</html>