<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Books</title>
    <link th:include="/import/style.html">
</head>
<body>

<div class="topnav">
    <a href="/">Home</a>
    <a class="active" th:href="@{/books}">Books</a>
    <a href="#cart">Cart</a>
    <a href="#about">About</a>
</div>

<br/>

<a th:href="@{/books/new-book}">
    <button class="success">Add new book</button>
</a>

<br/>
<br/>

<table cellspacing="2" border="1" cellpadding="5" width="600">
    <thead>
    <tr>
        <th> Title </th>
        <th> Author </th>
        <th> Genre </th>
        <th> Price </th>
    </tr>
    </thead>
    <tbody>
    <tr th:if="${books.isEmpty()}">
        <td colspan="2"> No Books Available </td>
    </tr>
    <tr th:each="book : ${books}">
        <td><a th:href="@{/books/{id}(id=${book.getId()})}">
            <span  th:text="${book.getName()}"> Title </span>
        </a></td>
        <td><span th:text="${book.getAuthor()}"> Author </span></td>
        <td><span th:text="${book.getGenre()}"> Genre </span></td>
        <td><span th:text="${book.getPrice()}"> Price </span></td>


    </tr>
    </tbody>
</table>



</body>
</html>



