<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>Books</title>
    <link th:include="/import/style.html">
</head>
<body>
<link th:include="/import/header.html">
<link th:include="/import/tableStyle.html">

<br/>

<div sec:authorize="hasAnyRole('ROLE_ADMIN', 'ROLE_MANAGER')">
    <a th:href="@{/books/new-book}">
        <button class="btn success">Add new book</button>
    </a>
</div>

<br/>
<br/>

<table>
    <thead>
    <tr>
        <th> Title</th>
        <th> Author</th>
        <th> Genre</th>
        <th> Price</th>
        <th sec:authorize="hasAnyRole('ROLE_ADMIN', 'ROLE_MANAGER')"> Quantity</th>

    </tr>
    </thead>
    <tbody>
    <tr th:if="${books.isEmpty()}">
        <td colspan="2"> No Books Available</td>
    </tr>
    <tr th:each="book : ${books}">
        <td><a th:href="@{/books/{id}(id=${book.getId()})}">
            <span th:text="${book.getName()}"> Title </span>
        </a></td>

        <td><span th:text="${book.getAuthor()}"> Author </span></td>

        <td><span th:text="${book.getGenre()}"> Genre </span></td>

        <td style="text-align: center"><span th:text="${book.getPrice()}"> Price </span></td>

        <td sec:authorize="hasAnyRole('ROLE_ADMIN', 'ROLE_MANAGER')" style="text-align: center">
            <span th:text="${book.getAvailableQuantity()}"> Quantity </span>
        </td>
        <td sec:authorize="hasAnyRole('ROLE_ADMIN', 'ROLE_MANAGER')"
            th:if="${book.getAvailableQuantity() > 0 and cart != null}">
            <form th:method="POST"
                  th:action="@{/cart/{customerId}/add-{bookId}(bookId=${book.getId()}, customerId=${cart.getCustomer().getId()})}">
                <button style="padding:  10px 20px;" class="btn success">Add to cart</button>
            </form>
        </td>

    </tr>
    </tbody>
</table>


</body>
</html>



