<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title th:if="${book != null}" th:text="${book.getName()}">Title</title>
    <title th:unless="${book != null}">Book info</title>
    <link th:include="/import/style.html">
</head>

<body>

<link th:include="/import/header.html">

<br/>

<div th:if="${book == null}">Book does not exist.</div>
<div th:unless="${book == null}">
    <img th:src="${book.getPhotoURL()}" alt="img not found"
         width="250" height="350" th:align="left" th:hspace="10">

    <p th:text="'Title: ' + ${book.getName()}"></p>
    <p th:text="'Author: ' + ${book.getAuthor()}"></p>
    <p th:text="'Genre: ' + ${book.getGenre()}"></p>
    <p th:text="'Description: ' + ${book.getDescription()}"></p>
    <p th:text="'Price: ' + ${book.getPrice()}"></p>
    <p th:text="'Quantity: ' + ${book.getAvailableQuantity()}"></p>

    <div sec:authorize="hasRole('CUSTOMER')" th:if="${book.getAvailableQuantity() > 0}">
        <form th:method="POST" th:action="@{/cart/add-{bookId}(bookId=${book.getId()})}">
            <button class="btn success">Add to cart</button>
        </form>
    </div>

    <p th:if="${book.getAvailableQuantity() == 0" >This book not available yet.</p>

    <div sec:authorize="hasAnyRole('ADMIN', 'MANAGER')" >
        <a th:href="@{/books/{id}/edit-book(id=${book.getId()})}">
            <button class="btn warning">Edit</button>
        </a>

        <form th:method="DELETE" th:action="@{/books/{id}(id=${book.getId()})}">
            <button class="btn danger">Delete</button>
        </form>
    </div>
</div>
</body>
</html>