<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="${book.getName()}">Title</title>
    <link th:include="/import/style.html">
</head>
<body>

<link th:include="/import/header.html">

<br/>

<img th:src="${book.getPhotoURL()}" alt="img not found"
     width="250" height="350" th:align="left" th:hspace="10">

<p th:text="'Title: ' + ${book.getName()}"></p>
<p th:text="'Author: ' + ${book.getAuthor()}"></p>
<p th:text="'Genre: ' + ${book.getGenre()}"></p>
<p th:text="'Description: ' + ${book.getDescription()}"></p>
<p th:text="'Price: ' + ${book.getPrice()}"></p>
<p th:text="'Quantity: ' + ${book.getAvailableQuantity()}"></p>



<a th:href="@{/books/{id}/edit-book(id=${book.getId()})}">
    <button class="btn warning">Edit</button>
</a>


<form th:method="DELETE" th:action="@{/books/{id}(id=${book.getId()})}">
    <button class="btn danger" >Delete</button>
</form>

</body>
</html>