<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<div class="topnav">
    <a class="active" href="/">Home</a>
    <a th:href="@{/books}">Books</a>

    <div sec:authorize="hasAnyRole('ADMIN', 'MANAGER')">
        <a th:href="@{/people/customers}">Customers</a>
        <a th:href="@{/cart}">Cart</a>
    </div>

    <div sec:authorize="hasRole('ADMIN')">
        <a th:href="@{/people/managers}">Managers</a>
    </div>

    <div name="login/logout_btn">
        <div sec:authorize="isAnonymous()">
            <a class="right" th:href="@{/login}">Login</a>
        </div>

        <div sec:authorize="isAuthenticated()">
            <a class="right" th:href="@{/logout}">Logout</a>
        </div>
    </div>

    <div name="profile_btn">
        <div sec:authorize="hasRole('CUSTOMER')">
            <a class="right" th:href="@{/people/customers/profile}">My profile</a>
        </div>

        <div sec:authorize="hasRole('MANAGER')">
            <a class="right" th:href="@{/people/managers/profile}">My profile</a>
        </div>
    </div>


</div>

