<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>Cart</title>
    <link th:include="/import/style.html">
    <link th:include="/import/tableStyle.html">
</head>
<body>

<link th:include="/import/header.html">
<br/>

<div th:if="${cart == null}">Customer does not exist.</div>

<div th:unless="${cart == null}" style="overflow-x:auto;">
    <div th:if="${cart.getOrderList().isEmpty()}">No orders yet.</div>

    <div name="orders_table" th:unless="${cart.getOrderList().isEmpty()}">
        <table>
            <thead>
            <tr>

                <th hidden="hidden">product id</th>
                <th>title</th>
                <th>author</th>
                <th>Quantity</th>
                <th></th>
            </tr>
            </thead>

            <tbody>
            <tr th:each="order : ${cart.getSortedOrderList()}">

                <td hidden="hidden"><span th:text="${order.getProductId()}"> product id </span></td>

                <td><a th:href="@{/books/{id}(id=${order.getProductId()})}">
                    <span th:text="${order.getBook().getName()}"> name </span></a></td>

                <td><span th:text="${order.getBook().getAuthor()}"> author </span></td>

                <td style="text-align: center">
                    <div>
                        <form sec:authorize="hasRole('CUSTOMER')" th:method="PATCH" th:action="@{/cart/increment-{bookId}(bookId=${order.getProductId()})}">
                            <button>&#708;</button>
                        </form>
                        <form sec:authorize="hasAnyRole('ADMIN', 'MANAGER')" th:method="PATCH"
                              th:action="@{/cart/{customerId}/increment-{bookId}(customerId=${cart.getCustomerId()}, bookId=${order.getProductId()})}">
                            <button>&#708;</button>
                        </form>

                        <h3 th:text="${order.getQuantity()}"> quantity</h3>

                        <form sec:authorize="hasRole('CUSTOMER')" th:method="PATCH" th:action="@{/cart/decrement-{bookId}(bookId=${order.getProductId()})}">
                            <button>&#709;</button>
                        </form>
                        <form sec:authorize="hasAnyRole('ADMIN', 'MANAGER')" th:method="PATCH"
                              th:action="@{/cart/{customerId}/decrement-{bookId}(customerId=${cart.getCustomerId()}, bookId=${order.getProductId()})}">
                            <button>&#709;</button>
                        </form>
                    </div>
                    </td>

                <td>
                    <form sec:authorize="hasRole('CUSTOMER')" th:method="DELETE"
                          th:action="@{/cart/delete-{bookId}(bookId=${order.getProductId()})}">
                        <button style="padding:  10px 20px;" class="btn danger">Delete</button>
                    </form>
                    <form sec:authorize="hasAnyRole('ADMIN', 'MANAGER')" th:method="DELETE"
                          th:action="@{/cart/{id}/delete-{bookId}(id=${cart.getCustomerId()}, bookId=${order.getProductId()})}">
                        <button style="padding:  10px 20px;" class="btn danger">Delete</button>
                    </form>
                </td>
            </tr>
            </tbody>
        </table>

        <div th:if="${error}">
            <script>
                window.alert('This is maximum quantity we have at this moment for this book!\n' +
                    'Please, come back later to buy more.');
                window.location.href = "/cart"
            </script>
        </div>

    </div>
</div>
</body>
</html>