<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>Managers</title>
    <link th:include="/import/style.html">
    <link th:include="/import/tableStyle.html">
</head>
<body>

<link th:include="/import/header.html">
<br/>

<a sec:authorize="hasAnyRole('ADMIN', 'MANAGER')" th:href="@{/people/managers/new}">
    <button class="btn success">Add new manager</button>
</a>

<br/>
<br/>

<div style="overflow-x:auto;">
    <table>
        <thead>
        <tr>
            <th>id</th>
            <th>Name</th>
            <th>Surname</th>
            <th>Email</th>
        </tr>
        </thead>

        <tbody>
        <tr th:if="${managers.isEmpty()}">
            <td colspan="2"> No managers yet </td>
        </tr>
        <tr th:each="manager : ${managers}">
            <div th:unless="${manager.getEmail()} == 'admin'">
                <td><span th:text="${manager.getId()}"> Id </span></td>
                <td><a th:href="@{/people/managers/{id}(id=${manager.getId()})}">
                    <span  th:text="${manager.getName()}"> Name </span>
                </a></td>
                <td><span th:text="${manager.getSurname()}"> Surname </span></td>
                <td><span th:text="${manager.getEmail()}"> Email </span></td>
            </div>
        </tr>
        </tbody>
    </table>
</div>

</body>
</html>



