<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>New manager</title>
    <link th:include="/import/style.html">
    <link th:include="/import/formStyle.html">
</head>
<style>
    input:disabled,
    input[disabled]{
        border: 1px solid #999999;
        background-color: #cccccc;
        color: #666666;
    }
</style>

<body>
<link th:include="/import/header.html">

<h3>Enter manager info:</h3>

<div class="container">

    <form th:method="POST" th:action="@{/manager}" >
        <div th:object="${manager}">
            <label for="name">Name: </label>
            <input type="text" th:field="*{name}" id="name"/>
            <div style="color: red" th:if="${#fields.hasErrors('name')}" th:errors="*{name}">name error</div>
            <br/>
            <label for="surname">Surname: </label>
            <input type="text" th:field="*{surname}" id="surname"/>
            <div style="color: red" th:if="${#fields.hasErrors('surname')}" th:errors="*{surname}">surname error</div>
            <br/>
        </div>
        <br/>
        <input type="submit" id="submit">
    </form>
</div>

</body>
</html>