<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Error Page</title>
</head>
<body>
<div class="container">

    <img src="../static/oops.png" alt="img">
    <h1 th:text="${status + ' ' + error}"></h1>
    <h2> You will be redirected to Home page in <a id="counter">5</a></h2>


</div>

<script>
    setInterval(function () {
        var div = document.getElementById("counter");
        var count = div.textContent * 1 - 1;
        div.textContent = count;
        if (count <= 0) {
            window.location.href = "/";
        }
    }, 1000);
</script>
</body>
</html>
